<%- include('includes/header.ejs') %>

<div class="container">
  <span>Добро пожаловать, <%= req.user.name %></span>
  <br />
  <a href="/users">Все пользователи</a>
</div>

<%- include('includes/footer.ejs') %>
