<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= appTitle %> | <%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header-inner">
          <a href="/">Главная</a>
          <div class="links">
            <a href="/signin">Вход</a>
            <a href="/signup">Регистрация</a>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="container">
        <form class="form" action="">
          <h1 class="form-title">Регистрация</h1>
          <input class="form-input" type="text" placeholder="email" />
          <input class="form-input" type="password" placeholder="password" />
          <input class="form-submit" type="submit" value="зарегистрироваться"/>
        </form>
      </div>
    </main>
  </body>
</html>
